<%-include('partials/header');%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="postTitle">
        <label>Body</label>
        <textarea class="form-control" name="postBody"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>
<%-include('partials/footer'); %>